In [19]:
pip install wikipedia

Collecting wikipedia
  Downloading wikipedia-1.4.0.tar.gz (27 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /Users/annavaugrante/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from wikipedia) (4.10.0)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /Users/annavaugrante/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from wikipedia) (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/annavaugrante/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/annavaugrante/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in /Users/annavaugrante/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/annavaugrante/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.26.7)
Requirement already satisfied: soupsieve>1.2 in /Users/annavaugrante/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from beautifulsoup4->wikipedia) (2.2.1)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py) ... done
  Created wheel for wikipedia: filename=wikipedia-1.4.0-py3-none-any.whl size=11685 sha256=56c7cf685768d2d87eb1d50a09f820152d5e5c94addac4b17dfba952d0fbe905
  Stored in directory: /Users/annavaugrante/Library/Caches/pip/wheels/07/93/05/72c05349177dca2e0ba31a33ba4f7907606f7ddef303517c6a
Successfully built wikipedia
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0

[notice] A new release of pip available: 22.2 -> 25.0.1
[notice] To update, run: python3.8 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [40]:
import wikipedia
import pandas as pd
import numpy as np

In [32]:
url = "https://en.wikipedia.org/wiki/List_of_most-visited_museums#Most-visited_museums_in_2024"

In [33]:
tables = pd.read_html(url)

In [43]:
data = tables[0]

In [44]:
data

,Name,Visitors in 2024,City,Country
0,Louvre,"8,700,000 (2024)[1]",Paris,France
1,National Museum of China,"6,956,800 (2024)[2]",Beijing,China
2,Vatican Museums,"6,825,436 (2024)[3]","Vatican City, Rome",Vatican
3,British Museum,"6,479,952 (2024)[4]",London,United Kingdom
4,"Natural History Museum, South Kensington","6,301,972 (2024)[5]",London,United Kingdom
...,...,...,...,...
80,Museum of European and Mediterranean Civilisat...,"1,300,000 (2023)",Marseille,France
81,Chinese Aviation Museum,"1,292,278 (2023)[64]",Beijing,China
82,Scottish National Gallery,"1,277,230[52]",Edinburgh,United Kingdom
83,Museo Reina Sofía,"1,253,183[c][52]",Madrid,Spain
84,Galata Tower,"1,250,000 (2023)[65]",Istanbul,Turkey

In [50]:
import requests
from bs4 import BeautifulSoup

In [51]:
url = "https://en.wikipedia.org/wiki/List_of_most-visited_museums#Most-visited_museums_in_2024"

In [52]:
response = requests.get(url)
html_content = response.text

In [54]:
soup = BeautifulSoup(html_content, 'html.parser')

In [55]:
table = soup.find('table', {'class': 'wikitable'})

In [57]:
headers = []
for th in table.find_all('th'):
        headers.append(th.get_text(strip=True))

In [59]:
data = []
for row in table.find_all('tr')[1:]:  # Skip the header row
    cols = row.find_all(['td', 'th']) # Get both data cells and potential row headers
    row_data = [col.get_text(strip=True) for col in cols]
    data.append(row_data)

In [ ]:
data.remove()